* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}
html{
    scroll-behavior: smooth;
}


body{
    justify-content: center;
    text-align: justify;
    background: #ffff;
    overflow-x: hidden;
}

main h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 60px;
    
    text-align: center;
    margin: auto;
    color: #ED7A00;
    margin-top: 20px;
    background: transparent;
}

.title-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.title-container div{
    width: 20%;
    margin: 2%;
    border-bottom: 6px solid #03738C;
}
.title-container div:nth-child(2){
    border: none;
    flex-grow: 10;
}

.container{
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  background-color: #03738C;
  flex-wrap: wrap;
  height: 100%;
}
.container div{
    border: none;
    width: 200px;
}
.container div:first-child{
    height: 100%;
    background-repeat: no-repeat;
    flex-grow: 3;
    margin-left: 0;
}
.container div:first-child img{
    width: 100%;
    height: 100%;
}
.container div:nth-child(2){
position: absolute;
background-color: #03738C;
z-index: 0;
width: 300px;
margin-left: 50%;
height: 90%;

}

@media only screen and (max-width: 600px) {
    .container hr{
        width: 200px;
        height: 700px;
        background-color: #03738C;
        border: none;
        padding: 10px;
        margin-left: 0;
        margin-top: 10%;
    }
    .container{
        background-color: #03738C;
        width: 100%;
    }
    .container div:nth-child(3){
        z-index: 1;
        background-color: #fff;
       width: 100%;
        height: 100%;
        font-size: 18px;
    }
  }
  @media only screen and (max-width: 513px) {
    .container hr{
       display: none;
    }
    .container div:nth-child(3){
       
        font-size: 16px;
        margin: 0;
        width: 100%;
    }
    
}

.container div:nth-child(3){
    z-index: 1;
    background-color: #fff;
   width: 60%;
    height: 100%;
    font-family: sans-serif;
    font-size: 18px;
font-weight: 400;
color: black;
position: relative;
margin: 10px;
-webkit-box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.51);
-moz-box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.51);
box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.51);
}
.container div >p{
    margin: 2%;
}
.banner-info{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    justify-content: center;
}
.caja-texto{
    display: flex;
    flex-direction: row;
}
/* .franja{
    background-color: #03738C;
    z-index: 0;
    width: 300px;
    height: 100%;
    border: none;
    overflow: hidden;
    margin: 0;
    position: absolute;
}
.caja-principal{
    display: flex;
    flex-direction: row;
   padding:15px 15px 20px 15px;
background:#fff;
line-height:26px !important;
width: 100%;
  
}*/
/* .texto{
    font-family: sans-serif;
    z-index: 1 !important;
font-size: 18px;
font-weight: 400;
color: black;
background: #FFF;
overflow: hidden;
padding: 1%;
margin-top: 2%;
top: 0;
-webkit-box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.51);
-moz-box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.51);
box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.51);
}*/
.imagen-texto{
  width: 20%;
  height: 100%;
} 
.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
    height: 100%;
    background-color: #ED7A00
}
.container2 p{
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    background-color: #DFF5EA;
    margin: 5%;
    -webkit-box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.51);
-moz-box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.51);
box-shadow: 0px -1px 15px 1px rgba(0,0,0,0.51);
padding: 5px;
}
.container2 a{
        text-decoration: none;
        color: #FFF;
        padding: 9px 20px;
        border: 2px solid #FFF;
        font-family: sans-serif;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        border-radius: 35px;
        width: 30%;
        min-width: 180px;
        text-align: center;
        position: relative;
        margin-bottom: 10%;
    }
    .container2 a:hover{
        background-color: #fff;
        color: #011C26;
    }
.mitur{
    margin-top: 5%;
    width: 400px;
}