
footer{
	height: 50vh;
	width: 90vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	background-image: url(../img/footer.PNG);
	background-position: center;
	background-size: 100% 100%;
	flex-wrap: wrap;
}
div.izquierda{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 60%;
}
div.img-box{
	width: 250px;
	height:250px;
}
div.img-box img{
	width: 100%;
	height: 100%;
	padding:10px;
	border-radius:50%;
	background-color: #ed7a00;
}
h1.surf_footer, h1.sv_footer{
	color: #011C26;
	padding: 5px;
}
div.textos{
	padding-right: 20px;
	border-right:  2px solid #011c26;
}
ul.red {
	list-style: none;
	display: flex;
	flex-direction: column;
}
li.xd{
	text-decoration: none;
	margin: 10px;
}
footer i{
	padding: 25px;
	border-radius: 50%;
	background-color: #03738C;
	color: white;
	width: 70px;
	height: 70px;
	text-align: center;
	font-size: 25px;
}
@media screen and (max-width: 965px){
	ul.red{
		flex-direction: row;
	}
	ul.red li.xd a{
		display: none;
	}
	div.textos{
	padding-right: 20px;
	border-right:  2px solid transparent;
}
	div.redes{
		right: 0;
	}
	div.img-box{
	width: 150px;
	height:150px;
}
div.img-box img{
	width: 100%;
	height: 100%;
	padding:5px;
	border-radius:50%;
	background-color: transparent;
}
div.izquierda{
	flex-direction: column;
}
}

@media screen and (max-width: 408px){
li.red{
	text-decoration: none;
	margin: 5px;
}
footer i{ 
	padding :25px 0px;
	border-radius: 50%;
	background-color: #03738C;
	color: white;
	text-align: center;
	font-size:100%;
	width: auto;
	height: auto;
}
div.textos{
	text-align: center;
}
div.img-box{
	width: 100px;
	height:100px;
}
}