*{
	margin: 0;
	padding: 0;
}
#c1{
	background-image: url(../img/rue1.jpg);
	justify-content: all;
	background-size: cover;
	background-repeat: no-repeat;
}
#txt1, #txt3{
	
	margin-top: 5vh;
	margin-bottom: 5vh;
	background-color: rgba(1, 28, 38, 0.8);
	color: white;
	max-width: 90%;
	text-align: justify;
}
#txt1{
	font-family: sans-serif;
	margin-left: 5vw;
	font-size: 1.5em;
	text-align: justify;
	max-width: 90%;
}
#txt3{
	margin-right: 5vw;
	margin-left: 5vw;
	font-family: sans-serif;
	font-size: 1.5em;
	text-align: justify;
	max-width: 90%;
}
#c2 {
	background-color: #ed7a00;
	color: #fff;
	font-family: sans-serif;
	font-size: 1.2em;
	text-align: justify;
	max-width: 90%;
}
#img1{
	background-image: url(../img/rue2.jpg);
}
#img2{
	background-image: url(../img/rue3.jpg);
}
#c3{
	background-image: url(../img/rue4.jpg);
	justify-content: all;
	background-size: cover;
	background-repeat: no-repeat;
}
.tit{
	border-bottom: solid 3px orange;
    color: orange;
    padding: 5vh 0vw;
    text-align: center;
    font-size: 5vh;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}
.c2img{
	margin-top: 3vh;
	background-size:contain;
	background-repeat: no-repeat;
}
.tS{
	border-bottom: solid 3px #011c26;
    color: #03738C;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
    padding: 5vh 0vw;
    text-align: center;
    font-size: 5vh;
}