
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	overflow-x: hidden;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

.title-container{
    display: flex;
    flex-direction: row;
    background-color: #011C26;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}
.title-container div{
    width: 20%;
    margin: 2%;
    
}
.linea_titulo1, .linea_titulo2{
    border-bottom: 6px solid #fff;
}
.contenido-gale div{
    border-bottom: none;
}
.contenido-gale{
    width: 100vw;
}
.title-container div:nth-child(2){
    border: none;
    flex-grow: 10;
}
.title-container h1.galeri{
    text-align: center;
}
.title-primero{

        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 60px;
        
        text-align: center;
        margin: auto;
        color: #ED7A00;
        margin-top: 20px;
        background: transparent;
    
}


.title-tarjetas{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}
.title-tarjetas div{
    width: 20%;
    margin: 2%;
    
}
.linea_tarjeta1, .linea_tarjeta2{
    border-bottom: 6px solid black;
}

.title-tarjetas div:nth-child(2){
    border: none;
    flex-grow: 10;
}
.title-tarjetas h1.galeri{
    text-align: center;
}
.title-tarjeta{

        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 60px;
        
        text-align: center;
        margin: auto;
        color: black;
        margin-top: 20px;
        background: transparent;
    
}




#primero{
	display: flex;
    flex-direction: row;
    background-color: #011C26;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
	min-height: 100vh;
	color: #fff;
}
#primero h1, #segundo h1{
	text-align: center;
	font-size: 1em;
}

h1 span{
	z-index: 100;
	padding: 0vh 2vw;
	position: relative;
}
#primero h1 span{
	background-color: #011C26;
}


#elementos{
	flex-direction: row;
	display: flex;
}
.inf1{
	display: flex;
	width: 43vw;
	height: 100vh;
	flex-direction: column;
	margin-right: 1vw;
	text-align: justify;
}

#elementos img{
  	width: 25vw;
  	display: flex;
	  flex-wrap: wrap;
  	align-self: center;
}

#btnvm{
    margin-top: 2%;
    display: flex;
	justify-content: center;
	align-items: center;
	float: left;
    color: white;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    padding: .5em;
    border: 2px solid #FFF;
    text-transform: uppercase;
	transition: all .3s ease-in-out;
    border-radius: 35px;
    font-family: sans-serif;
	cursor: pointer;
	background: transparent;
}
#btnvm:hover{
    background-color: #fff;
	color: #ED7A00;
}
#segundo{
	background-color: white;
	color: black;
	height: 80vh;
	width: 92vw;
	padding: 10vh 4vw;
	display: flex;
	flex-direction: column;
}
#cuadros{
	flex-direction: row;
	padding: 0;
	margin: 0;
}
.inf2{
	display: inline-flex;
	background-image: url(../img/fondosn.jpg);
	width: 16vw;
	height: 70vh;
	margin-right: 2vw;
	background-size: 17vw 40vh;
	background-repeat: no-repeat;
	flex-direction: column ;
	text-align: center;
}

.inf2 img{
	width: 8vw;
	height: 16vh;
	border-radius: 15vh;
	border: #03738C solid 6px;
	align-self: center;
	margin-top: 25vh;
	position: relative;
	z-index: 10;
}
.forma{
	background-color: #DFF5EA;
	transform: translateY(-15vh);
	width: 16vw;
	padding-top: 15vh;
	height: 50vh;
	clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
}
.forma h2{
	font-size: 1.7em;
}
.forma p{
	color: #ED7A00;
	font-weight: bold;
	font-size: 0.8em;
}
.iconos i{
	color: #DFF5EA;
	width: 3vw;
	height: 6vh;
}

.iconos{
	text-decoration: none;
	border-top: #03738C solid 3px;
	padding-top: 2vh;
	padding-left: 0;
	margin: 0.5vw 1vh;
	list-style: none;
}
.iconos li{
	display: inline-block;
	width: 3vw;
	height: 6vh;
	line-height: 6vh;
	border-radius: 4vh;
	text-align: center;
	background-color: #03738C;
	font-size: 1.5em;
}
#segundo h1 span{
	background-color: white;
}

#segundo h1::after{
	content: "";
	width: 80vw;
	height: 0.5vh;
	position: absolute;
	left: 10vw;
	transform: translateY(3vh);
	background-color: black;
	z-index: 10;
}
#segundo h1{
	width: 90vw;
	padding-bottom: 2vh;
}

@media (min-width: 280px){
	.inf2{
		width: 60vw;
		background-size: 60vw 40vh;
	}
	#segundo h1{
		font-size: 4em;
		width: 62vw;
	}
	#segundo h1::after{
		transform: translateY(10vh);
	}
	.forma{
		width: 60vw;
		transform: translateY(-12vh);
	}
	#segundo{
		height: auto;
		padding: 5vh 10vw;
		padding-left: 20vw;
	}
	.inf2 img{
		margin-top: 22vh;
		width: 20vw;
		height: 11vh;
	}
	.forma h2{
		font-size: 3em;
	}
	.forma p{
		font-size: 1.8em;
	}
	.iconos li{
		height: 4.5vh;
		width: 8vw;
		line-height: 4.5vh;
		font-size: 1.7em;
	}
	#elementos{
		flex-flow: column;
	}

	.inf1{
		height: auto;
		width: 80vw;
	}
	#img img{
		width: 50vw;
	}
	#text h2{
		width: 70vw;
		text-align: center;
		font-size: 3em;
	}
	#text p{
		font-size: 1.8em;
		text-align: justify;
	}
	#btnvm{
		font-size: 1.5em;
		position: relative;
		margin: 10px auto;
	}
	#primero h1{
		width: 70vw;
		font-size: 4em;
		text-align: center;
	}
	#primero h1::after{
		top: 2vh;
	}
	#elementos p{
		width: 70vw;
		margin: 20px auto;
	}
	#img{
		order: 1;
	}
	#text{
		order: 2;
	}

	#btnvm{
		margin-top: 2%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px auto;
	}
}
@media screen and (max-width: 768px) {
	#btnvm{
		margin-top: 2%;
		display: flex;
		float: none;
		justify-content: center;
		align-items: center;
		margin: 10px auto;
	}
}
@media (min-width: 600px){
	#primero h1::after{
		top: 8vh;
	}
	#primero{
		height: 100vh;
	}
	#img img{
		width: 35vw;
	}
	#segundo{
		padding-bottom: 10vh;
	}
	#segundo h1::after{
		transform: translateY(3vh);
	}
	.inf2 img{
		margin-top: 30vh;
		width: 24vw;
		height: 18vh;
	}
	.inf2{
		background-size: 60vw 50vh;
		margin-top: 8vh;
	}
	.forma{
		transform: translateY(-18vh);
		padding-top: 20vh;
	}
	.iconos li{
		height: 6vh;
		line-height: 6vh;
	}
	.iconos{
		padding-bottom: 2vh;
	}
}
@media (min-width: 1000px){
	#primero h1{
		font-size: 3em;
		width: 85vw;
	}
	#primero h1::after{
		top: 15vh;
	}

	#elementos{
		width: 80vw;
		flex-direction: row; 
	}
	.inf2{
		width: 35vw;
	}
	#img{
		order: 2;
	}
	#text{
		order: 1;
	}
	#img img{
		width: 30vw;
	}
	#text h2{
		font-size: 1.8em;
		text-align: left;
		width: 35vw;
	}
	#text p{
		font-size: 1.3em;
		width: 50vw;
	}
	#btnvm{
		width: 10vw;
		font-size: 1.2em;
		left: 5vw;
	}
	#segundo{
		padding: 10vh 5vw;
	}
	#segundo h1{
		font-size: 3em;
		width: 90vw;
	}
	#segundo h1::after{
		transform: translateY(3vh);
	}
	.inf2{
		width: 26vw;
		background-size: 26vw 45vh;
	}
	.inf2 img{
		width: 12vw;
		height: 16vh;
		margin-top: 25vh;
	}
	.forma{
		width: 26vw;
	}
	.forma h2{
		font-size: 1.8em;
	}
	.forma p{
		font-size: 1.2em;
	}
	.iconos li{
		width: 4vw;
	}
}
@media (min-width: 1200px){
	#img img{
		width: 25vw;
	}
	#text p{
		width: 40vw;
	}
	#segundo{
		width: 92vw;
		padding: 10vh 4vw;
		height: 100vh;
	}
	.inf2{
		width: 16.1vw;
		background-size: 16.1vw 40vh;
	}
	.inf2 img{
		width: 8vw;
	}
	.forma{
		width: 16.1vw;
	}
	.forma h2{
		font-size: 1.3em;
	}
	.forma p{
		font-size: 0.8em;
	}
	.iconos li{
		width: 3vw;
	}
}


@media screen and (max-width: 511px){
    
    .textos h1, h3{
        font-family: cocon;
        
    }
    header .titulo{
        font-size: 4em;
    }
    .subtitulo{
        font-size:3em;
        font-weight: 10;
    }

    .title-container h1{
        font-size: 30px;
    }

}

@media only screen and (max-width: 320px) {

    .title-container h1{
        font-size: 25px;
    }

}


@media screen and (max-width: 511px){
    
    .textos h1, h3{
        font-family: cocon;
        
    }
    header .titulo{
        font-size: 4em;
    }
    .subtitulo{
        font-size:3em;
        font-weight: 10;
    }

    .title-tarjetas h1{
        font-size: 30px;
    }

}

@media only screen and (max-width: 320px) {

    .title-tarjeta h1{
        font-size: 25px;
    }

}


