
*{
	font-family: sans-serif;
}
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#primero{
	background-color: #011C26;
	color: white;
	height: 80vh;
	width: 80vw;
	padding: 10vh 10vw;
	display: flex;
	flex-direction: column;
}
#primero h1, #segundo h1{
	text-align: center;
	width: 80vw;
	font-size: 2.5em;
}

h1 span{
	z-index: 100;
	padding: 0vh 2vw;
	position: relative;
}
#primero h1 span{
	background-color: #011C26;
}

#primero h1::after{
	content: "";
	width: 80vw;
	height: 0.5vh;
	position: absolute;
	left: 10vw;
	transform: translateY(98vh);
	background-color: #ED7A00;
	z-index: 10;
}
#elementos{
	flex-direction: row;
	display: flex;
}
.inf1{
	display: inline-flex;
	width: 43vw;
	height: 60vh;
	flex-direction: column;
	margin-right: 1vw;
}
#primero h2{
	border-bottom: #ED7A00 solid 2px;
	width: 25vw;
	font-size: 2em;
	margin-top: 10vh;
	padding-bottom: 2vh;
}
#elementos p{
 	font-size: 1.3em;
 	width: 40vw;
 	margin-right: 2vw;
 	display: inline-flex;
 	margin-top: 2vh;
 	padding-bottom: 2vh;
}
#elementos img{
  	width: 25vw;
  	display: inline-flex;
  	align-self: center;
}

#btnvm{
	background-color: transparent;
	color: white;
	border: solid #ED7A00 2px;
	border-radius: 2vh;
	width: 7vw;
	font-size: 1.2em;
}
#segundo{
	background-color: white;
	color: black;
	height: 80vh;
	width: 92vw;
	padding: 10vh 4vw;
	display: flex;
	flex-direction: column;
}
#cuadros{
	flex-direction: row;
	padding: 0;
	margin: 0;
}
.inf2{
	display: inline-flex;
	background-image: url(../img/fondosn.jpg);
	width: 16vw;
	height: 70vh;
	margin-right: 2vw;
	background-size: 17vw 40vh;
	background-repeat: no-repeat;
	flex-direction: column ;
	text-align: center;
}

.inf2 img{
	width: 8vw;
	height: 16vh;
	border-radius: 15vh;
	border: #03738C solid 6px;
	align-self: center;
	margin-top: 25vh;
	position: relative;
	z-index: 10;
}
.forma{
	background-color: #DFF5EA;
	transform: translateY(-15vh);
	width: 16vw;
	padding-top: 15vh;
	height: 50vh;
	clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
}
.forma h2{
	font-size: 1.7em;
}
.forma p{
	color: #ED7A00;
	font-weight: bold;
	font-size: 0.8em;
}
.iconos i{
	color: #DFF5EA;
	width: 3vw;
	height: 6vh;
}

.iconos{
	text-decoration: none;
	border-top: #03738C solid 3px;
	padding-top: 2vh;
	padding-left: 0;
	margin: 0.5vw 1vh;
	list-style: none;
}
.iconos li{
	display: inline-block;
	width: 3vw;
	height: 6vh;
	line-height: 6vh;
	border-radius: 4vh;
	text-align: center;
	background-color: #03738C;
	font-size: 1.5em;
}
#segundo h1 span{
	background-color: white;
}

#segundo h1::after{
	content: "";
	width: 80vw;
	height: 0.5vh;
	position: absolute;
	left: 10vw;
	transform: translateY(3vh);
	background-color: black;
	z-index: 10;
}
#segundo h1{
	width: 90vw;
	padding-bottom: 2vh;
}

@media (min-width: 300px){
	.inf2{
		width: 60vw;
		background-size: 60vw 40vh;
	}
	#segundo h1{
		font-size: 4em;
		width: 62vw;
	}
	#segundo h1::after{
		transform: translateY(10vh);
	}
	.forma{
		width: 60vw;
		transform: translateY(-12vh);
	}
	#segundo{
		height: auto;
		padding: 5vh 10vw;
		padding-left: 20vw;
	}
	.inf2 img{
		margin-top: 22vh;
		width: 20vw;
		height: 11vh;
	}
	.forma h2{
		font-size: 3em;
	}
	.forma p{
		font-size: 1.8em;
	}
	.iconos li{
		height: 4.5vh;
		width: 8vw;
		line-height: 4.5vh;
		font-size: 1.7em;
	}
	#elementos{
		flex-flow: column;
	}
	#primero{
		padding: 5vh 15vw;
	}
	.inf1{
		height: auto;
		width: 70vw;
	}
	#img img{
		width: 50vw;
	}
	#text h2{
		width: 70vw;
		text-align: center;
		font-size: 3em;
	}
	#text p{
		font-size: 1.8em;
		text-align: justify;
	}
	#btnvm{
		font-size: 1.8em;
		width: 20vw;
		position: relative;
		left: 25vw;
	}
	#primero h1{
		width: 70vw;
		font-size: 4em;
	}
	#primero h1::after{
		top: 2vh;
	}
	#elementos p{
		width: 70vw;
	}
	#img{
		order: 1;
	}
	#text{
		order: 2;
	}
}
@media (min-width: 600px){
	#primero h1::after{
		top: 8vh;
	}
	#primero{
		height: 100vh;
	}
	#img img{
		width: 35vw;
	}
	#segundo{
		padding-bottom: 10vh;
	}
	#segundo h1::after{
		transform: translateY(3vh);
	}
	.inf2 img{
		margin-top: 30vh;
		width: 24vw;
		height: 18vh;
	}
	.inf2{
		background-size: 60vw 50vh;
		margin-top: 8vh;
	}
	.forma{
		transform: translateY(-18vh);
		padding-top: 20vh;
	}
	.iconos li{
		height: 6vh;
		line-height: 6vh;
	}
	.iconos{
		padding-bottom: 2vh;
	}
}
@media (min-width: 1000px){
	#primero h1{
		font-size: 3em;
		width: 85vw;
	}
	#primero h1::after{
		top: 15vh;
	}
	#primero{
		width: 90vw;
		padding: 10vh 5vw;
	}
	#elementos{
		width: 80vw;
		flex-direction: row; 
	}
	.inf2{
		width: 35vw;
	}
	#img{
		order: 2;
	}
	#text{
		order: 1;
	}
	#img img{
		width: 30vw;
	}
	#text h2{
		font-size: 1.8em;
		text-align: left;
		width: 35vw;
	}
	#text p{
		font-size: 1.3em;
		width: 50vw;
	}
	#btnvm{
		width: 10vw;
		font-size: 1.2em;
		left: 5vw;
	}
	#segundo{
		padding: 10vh 5vw;
	}
	#segundo h1{
		font-size: 3em;
		width: 90vw;
	}
	#segundo h1::after{
		transform: translateY(3vh);
	}
	.inf2{
		width: 26vw;
		background-size: 26vw 45vh;
	}
	.inf2 img{
		width: 12vw;
		height: 16vh;
		margin-top: 25vh;
	}
	.forma{
		width: 26vw;
	}
	.forma h2{
		font-size: 1.8em;
	}
	.forma p{
		font-size: 1.2em;
	}
	.iconos li{
		width: 4vw;
	}
}
@media (min-width: 1200px){
	#img img{
		width: 25vw;
	}
	#text p{
		width: 40vw;
	}
	#segundo{
		width: 92vw;
		padding: 10vh 4vw;
		height: 100vh;
	}
	.inf2{
		width: 16.1vw;
		background-size: 16.1vw 40vh;
	}
	.inf2 img{
		width: 8vw;
	}
	.forma{
		width: 16.1vw;
	}
	.forma h2{
		font-size: 1.3em;
	}
	.forma p{
		font-size: 0.8em;
	}
	.iconos li{
		width: 3vw;
	}
}